<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods">
	<test name="Test">
		<classes>
			<class name="javapractice.applenew" />
			<class name="selpractice.gmail_new" />
			<class name="selpractice.apple2" />
			<class name="javapractice.gmail_new" />
			<class name="selpractice.gmail" />
			<class name="javapractice.gmail_new2" />
			<class name="selpractice.googleuuuu2" />
			<class name="javapractice.google_link2" />
			<class name="selpractice.google2" />
			<class name="selpractice.apple2346" />
			<class name="selpractice.apple2345" />
			<class name="javapractice.expedia2235" />
			<class name="selpractice.expedia" />
			<class name="javapractice.expedia2234" />
			<class name="selpractice.expedia2" />
			<class name="selpractice.versionone" />
			<class name="javapractice.expedia2" />
			<class name="javapractice.expedia" />
			<class name="selpractice.expedia2234" />
			<class name="selpractice.expedia2235" />
			<class name="javapractice.applenew2" />
			<class name="selpractice.applenew2" />
			<class name="selpractice.google_link" />
			<class name="selpractice.google_link2" />
			<class name="selpractice.versionone2" />
			<class name="selpractice.gmail2" />
			<class name="selpractice.apple" />
			<class name="javapractice.apple2346" />
			<class name="selpractice.googleuuuu" />
			<class name="javapractice.apple2345" />
			<class name="selpractice.google" />
			<class name="javapractice.google_link" />
			<class name="javapractice.gmail" />
			<class name="javapractice.gmail2" />
			<class name="javapractice.google" />
			<class name="selpractice.applenew" />
			<class name="selpractice.gmail_new2" />
		</classes>
	</test><!-- Test -->
</suite><!-- Suite -->
